<a href="https://colab.research.google.com/github/asaitej1/data690_Sai-Teja/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Program that generates 100 random integers between 0 and 9.

In [1]:
import random
rand_numbers = []
for i in range(0, 100):                             # Length of the list : 100
   rand_numbers.append(random.randint(0, 9))        # Random numbers in between 0 to 9
print("List of 100 Random Integers:")
print(rand_numbers)

List of 100 Random Integers:
[6, 7, 7, 9, 8, 7, 9, 1, 3, 0, 4, 1, 4, 9, 7, 0, 6, 6, 4, 1, 8, 3, 1, 3, 8, 8, 2, 8, 8, 3, 8, 3, 2, 2, 0, 0, 8, 9, 4, 8, 2, 8, 9, 8, 0, 6, 3, 5, 5, 2, 1, 2, 7, 3, 5, 6, 5, 2, 7, 7, 2, 6, 1, 0, 8, 1, 0, 4, 7, 4, 0, 6, 9, 5, 8, 7, 2, 1, 0, 0, 5, 7, 8, 4, 6, 7, 0, 7, 8, 2, 4, 2, 0, 7, 2, 4, 8, 1, 3, 5]

# 1.Program to print them in a 10 by 10 matrix.

In [20]:
import random as rand

for i in range(0,10):
    for j in range(0,10):
        print(rand.randint(0, 9),end="  ")
    print("  ")

8  2  5  0  5  9  0  5  0  4
9  3  8  6  8  0  2  2  2  6
7  4  7  2  0  5  3  6  5  0
0  5  0  9  4  3  8  4  2  4
6  0  0  7  4  3  9  2  2  3
6  0  5  9  5  0  2  0  3  9
2  8  8  0  0  2  2  8  9  2
9  8  6  8  3  3  2  3  9  1
0  9  8  6  1  1  6  0  9  0
0  7  7  6  3  9  7  9  5  5

#2.If the random number is an odd number, print "@" instead.

In [18]:
for i in range(0,10):
    for j in range(0,10):
        a = rand.randint(0,9)
        if(a%2 == 0):
            print(a,end="  ")   # prints even numbers.
        else:
            print("@",end="  ") # prints "@" if it is an odd number. 
    print("  ")

0  @  @  4  6  6  4  4  8  @
6  @  @  0  @  8  6  @  @  @
4  6  @  @  8  @  6  @  @  2
8  0  0  @  6  2  @  @  4  @
@  2  @  2  2  @  @  8  2  0
2  8  2  @  @  @  8  0  @  @
@  @  0  @  @  @  0  @  @  6
@  8  @  @  4  @  0  2  @  4
@  @  4  0  @  0  @  @  @  @
6  @  4  @  @  @  @  @  0  @

#3.Calculate and Print the total of each row(use "*" to separate the total from the numbers).

In [23]:
for i in range(0,10):
    output = 0
    for j in range(0,10):
        b = rand.randint(0, 9)
        output += b
        print(b, end="  ")
    print("*", output)

8  2  0  8  1  4  4  8  1  5  * 41
2  2  1  3  2  1  2  0  1  4  * 18
3  6  1  4  2  7  0  0  4  7  * 34
8  5  9  6  7  0  0  8  9  1  * 53
1  8  0  8  0  6  3  7  0  1  * 34
1  3  1  8  9  5  1  4  6  6  * 44
1  7  0  8  4  2  5  2  0  6  * 35
4  4  9  2  7  6  1  4  6  0  * 43
1  1  2  2  7  5  9  6  5  6  * 44
1  4  8  7  0  0  1  7  1  9  * 38

#4.Surround the matrix with asterisks.

In [43]:
print("*  *  *  *  *  *  *  *  *  *  *  * ")
for i in range(0,12):
    print("*",end="  ")
    for j in range(0,10):
        if(i>1 or i<=11):
            print(rand.randint(0, 9),end="  ")
        else:    
            print("*", end="  ")
    print("*")
print("*  *  *  *  *  *  *  *  *  *  *  * ")

*  *  *  *  *  *  *  *  *  *  *  *
*  6  3  6  1  6  3  5  0  8  4  *
*  4  6  0  6  0  2  3  6  0  7  *
*  3  9  0  1  2  4  3  4  1  9  *
*  9  2  9  4  6  0  1  1  0  9  *
*  7  4  8  6  2  8  7  1  5  3  *
*  6  1  0  5  3  5  7  5  8  4  *
*  3  1  0  7  1  1  5  6  0  6  *
*  4  3  8  5  6  4  6  0  8  0  *
*  3  1  4  6  8  9  6  4  3  5  *
*  8  0  6  6  8  8  0  5  2  9  *
*  8  8  7  2  7  2  5  8  0  1  *
*  9  3  0  0  9  5  3  7  8  7  *
*  *  *  *  *  *  *  *  *  *  *  *